<!-- /templates/page.liquid -->
<!-- video gallery by Jake Steele  -->

<!-- JUJU this is your cheat sheet to add your own videos and descriptions  -->
<!-- 1. Copy the template I made you from lines 14-33   -->
<!-- 2. Find the line that will direct you where to paste by searching JUJU PASTE via cmd f  -->
<!-- 3. Paste template where JUJU PASTE tells you to. -->
<!-- 4. Go to youtube video you want to display -->
<!-- 5. On youtube video click share click embed click copy -->
<!-- 6. Follow the directions on the template that you pasted then click green save button. -->

<!-- DO NOT DELETE From lines 14-33  is the template to add videos with descriptions DO NOT DELETE  -->

<!--  DELETE THIS LINE THIS IS BEGINNING OF TEMPLATE
<div>
	<div class="video-gallery-subtitle">
       <h2>
	   	<!-- Replace this line with the title you want above the video  -->
<!--DELETE THIS LINE 
       </h2>
     </div>
  	<div class="video-gallery-margins">
		<!-- Replace this line where it begins with the video link	 -->
<!--DELETE THIS LINE 
  	</div>
    <div class="video-gallery-margins">
      <p>
		<!-- Replace this line where it begins with the description you want -->
<!-- DELETE THIS LINE
      </p>
    </div>
  </div>
DELETE THIS LINE THIS IS THE END OF THE TEMPLATE-->


<div class="page-width page-container">
  <header class="video-gallery-header">
    <h1>{{ page.title }}</h1>
  </header>
  
   <div>
     <div class="video-gallery-subtitle">
       <h2>
         Qwilltin Wallace
       </h2>
     </div>
  	 <div class="video-gallery-margins">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/mSgjG9x3jUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  	
     </div>
     <div class="video-gallery-margins">
      <p>
		In September of 2021,  Ben Wallace became the first undrafted player to be inducted into the NBA Hall of Fame. This tapestry, created by Twill the Messenger and commissioned by the Detroit Pistons, tells the story of his inspirational rise from the bottom of the NBA ladder to its highest honor.      
      </p>
    </div>
  </div>
  
  
  <div>
    <div class="video-gallery-subtitle">
      <h2>
        Col 1. Home Team
      </h2>
    </div>
  	<div class="video-gallery-margins">
    	<iframe width="560" height="315" src="https://www.youtube.com/embed/D5E3iHOwbP4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  	</div>
    <div class="video-gallery-margins">
      <p>
		Twill the Messenger shoot #1 in Los Angeles, CA.
      </p>
    </div>
  </div>
  
  
<!-- JUJU PASTE template above this line all the way to left  -->

</div>
