<!-- /templates/page.liquid -->
<!-- video gallery by Jake Steele  -->

<!-- JUJU this is your cheat sheet to add your own videos and descriptions  -->
<!-- 1. Copy the template I made you from lines 14-27   -->
<!-- 2. Find the line that will direct you where to paste by searching JUJU PASTE via cmd f  -->
<!-- 3. Paste template where JUJU PASTE tells you to. -->
<!-- 4. Go to youtube video you want to display -->
<!-- 5. On youtube video click share click embed click copy -->
<!-- 6. Follow the directions on the template that you pasted then click green save button. -->

<!-- DO NOT DELETE From lines 14-27  is the template to add videos with descriptions DO NOT DELETE  -->

<!--  DELETE THIS LINE THIS IS BEGINNING OF TEMPLATE
<div>
  	<div class="video-gallery-margins">
		<!-- Replace this line where it begins with the video link	 -->
<!--DELETE THIS LINE 
  	</div>
    <div class="video-gallery-margins">
      <p>
		<!-- Replace this line where it begins with the description you want -->
<!-- DELETE THIS LINE
      </p>
    </div>
  </div>
DELETE THIS LINE THIS IS THE END OF THE TEMPLATE-->

<!-- JUJU these are instructions in how to delete my dummy data that fills the site  -->
<!-- 1. Delete lines 37-79  -->
<!-- 2. Click green save button  -->

<div class="page-width page-container">
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <div>
  	<div class="video-gallery-margins">
    	<iframe width="560" height="315" src="https://www.youtube.com/embed/D5E3iHOwbP4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  	</div>
    <div class="video-gallery-margins">
      <p>
		Adipiscing aenean aliquet dui duis fermentum hac lacinia luctus metus nostra nunc potenti sociosqu volutpat. Accumsan auctor class.      
      </p>
    </div>
  </div>
  
  <div>
  	<div class="video-gallery-margins">
    	<iframe width="560" height="315" src="https://www.youtube.com/embed/D5E3iHOwbP4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  	</div>
    <div class="video-gallery-margins">
      <p>
		Adipiscing aenean aliquet dui duis fermentum hac lacinia luctus metus nostra nunc potenti sociosqu volutpat. Accumsan auctor class.      
      </p>
    </div>
  </div>
  
  <div>
  	<div class="video-gallery-margins">
    	<iframe width="560" height="315" src="https://www.youtube.com/embed/D5E3iHOwbP4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  	</div>
    <div class="video-gallery-margins">
      <p>
		Adipiscing aenean aliquet dui duis fermentum hac lacinia luctus metus nostra nunc potenti sociosqu volutpat. Accumsan auctor class.      
      </p>
    </div>
  </div>
  
  <div>
  	<div class="video-gallery-margins">
    	<iframe width="560" height="315" src="https://www.youtube.com/embed/D5E3iHOwbP4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  	</div>
    <div class="video-gallery-margins">
      <p>
		Adipiscing aenean aliquet dui duis fermentum hac lacinia luctus metus nostra nunc potenti sociosqu volutpat. Accumsan auctor class.      
      </p>
    </div>
  </div>
  
  


  
  
  
<!-- JUJU PASTE template two lines above this line all the way to left  -->

</div>
